/* 격리된 플로팅 레이아웃 테크닉 */

.show-grid {
  position: relative;
}

.show-grid::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: linear-gradient(transparent 9px, hsla(0, 0%, 0%, 0.42) 9px);
  background-size: 1px 10px;
}

.show-grid .container {
  position: relative;
  /*min-height: 1000px;*/
}
.show-grid .container::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg,
    transparent 10%,
    hsla(29, 100%, 64%, 0.3) 10%,
    hsla(49, 100%, 64%, 0.3) 90%,
    transparent 90%);
  background-size: 12.5% 1px;
}
.show-grid.overlay::before,
.show-grid.overlay .container::before {
  z-index: 10000;
}

.container {
  /* width: auto; 100% */
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: '';
  display: block;
  clear: both;
}

[class*="col-"] {
  float: left;
  margin-left: 1.25%;
  margin-right: 1.25%;
  box-sizing: border-box;
}

/* 공식: (목표 너비 / 전체 너비 * 100) */

.col-1 { width: 10%;   } /*  120/1200 * 100 = 10%   */
.col-2 { width: 22.5%; } /*  270/1200 * 100 = 22.5% */
.col-3 { width: 35%;   } /*  420/1200 * 100 = 35%   */
.col-4 { width: 47.5%; } /*  570/1200 * 100 = 47.5% */
.col-5 { width: 60%;   } /*  720/1200 * 100 = 60%   */
.col-6 { width: 72.5%; } /*  870/1200 * 100 = 72.5% */
.col-7 { width: 85%;   } /* 1020/1200 * 100 = 85%   */
.col-8 { width: 97.5%; } /* 1170/1200 * 100 = 97.5% */

[class*="col-"] [class*="col-"]:first-child {
  margin-left: 0;
}
[class*="col-"] [class*="col-"]:last-child {
  margin-right: 0;
}

[class*="push-"],
[class*="pull-"] {
  position: relative;
}
.push-1 { left: 12.5%; } /*  150 => ((120*1)+(15*2)*1)/1200 * 100 = 12.5% */
.push-2 { left: 25%;   } /*  300 => ((120*2)+(15*2)*2)/1200 * 100 = 25%   */
.push-3 { left: 37.5%; } /*  450 => ((120*3)+(15*2)*3)/1200 * 100 = 37.5% */
.push-4 { left: 50%;   } /*  600 => ((120*4)+(15*2)*4)/1200 * 100 = 50%   */
.push-5 { left: 62.5%; } /*  750 => ((120*5)+(15*2)*5)/1200 * 100 = 62.5% */
.push-6 { left: 75%;   } /*  900 => ((120*6)+(15*2)*6)/1200 * 100 = 75%   */
.push-7 { left: 87.5%; } /* 1050 => ((120*7)+(15*2)*7)/1200 * 100 = 87.5% */
.push-8 { left: 100%;  } /* 1200 => ((120*8)+(15*2)*8)/1200 * 100 = 100%  */

.pull-1 { right: 12.5%; }
.pull-2 { right: 25%;   }
.pull-3 { right: 37.5%; }
.pull-4 { right: 50%;   }
.pull-5 { right: 62.5%; }
.pull-6 { right: 75%;   }
.pull-7 { right: 87.5%; }
.pull-8 { right: 100%;  }

.prefix-1 { margin-left: 13.75%;  }  /*  165 => (((120*1)+(15*2)*1)+15)/1200 * 100 = 13.75%   */
.prefix-2 { margin-left: 26.25%;  }  /*  315 => (((120*2)+(15*2)*2)+15)/1200 * 100 = 26.25%  */
.prefix-3 { margin-left: 38.75%;  }  /*  465 => (((120*3)+(15*2)*3)+15)/1200 * 100 = 38.75%  */
.prefix-4 { margin-left: 51.25%;  }  /*  615 => (((120*4)+(15*2)*4)+15)/1200 * 100 = 51.25%  */
.prefix-5 { margin-left: 63.75%;  }  /*  765 => (((120*5)+(15*2)*5)+15)/1200 * 100 = 63.75%  */
.prefix-6 { margin-left: 76.25%;  }  /*  915 => (((120*6)+(15*2)*6)+15)/1200 * 100 = 76.25%  */
.prefix-7 { margin-left: 88.75%;  }  /* 1065 => (((120*7)+(15*2)*7)+15)/1200 * 100 = 88.75%  */
.prefix-8 { margin-left: 101.25%; }  /* 1215 => (((120*8)+(15*2)*8)+15)/1200 * 100 = 101.25% */

.suffix-1 { margin-right: 13.75%;  }
.suffix-2 { margin-right: 26.25%;  }
.suffix-3 { margin-right: 38.75%;  }
.suffix-4 { margin-right: 51.25%;  }
.suffix-5 { margin-right: 63.75%;  }
.suffix-6 { margin-right: 76.25%;  }
.suffix-7 { margin-right: 88.75%;  }
.suffix-8 { margin-right: 101.25%; }

[class*="col-"] .prefix-1 { margin-left: 12.5%; }
[class*="col-"] .prefix-2 { margin-left: 25%;   }
[class*="col-"] .prefix-3 { margin-left: 37.5%; }
[class*="col-"] .prefix-4 { margin-left: 50%;   }
[class*="col-"] .prefix-5 { margin-left: 62.5%; }
[class*="col-"] .prefix-6 { margin-left: 75%;   }
[class*="col-"] .prefix-7 { margin-left: 87.5%; }
[class*="col-"] .prefix-8 { margin-left: 100%;  }

[class*="col-"] .suffix-1 { margin-right: 12.5%;   }
[class*="col-"] .suffix-2 { margin-right: 25%;     }
[class*="col-"] .suffix-3 { margin-right: 37.5%;   }
[class*="col-"] .suffix-4 { margin-right: 50%;     }
[class*="col-"] .suffix-5 { margin-right: 62.5%;   }
[class*="col-"] .suffix-6 { margin-right: 75%;     }
[class*="col-"] .suffix-7 { margin-right: 88.75%;  }
[class*="col-"] .suffix-8 { margin-right: 101.25%; }

/**
 * --------------------------------
 * Isolate Float Module
 * ----------------------------- */
.isolate [class*="col-"],
.isolate[class*="col-"] {
  margin-right: -100%;
}

.order-1, .o1 { margin-left: 1.25%;  } /* 15/1200*100 = 1.25% */
.order-2, .o2 { margin-left: 13.75%; } /* ( 15+(120*1)+(15*2)*1 ) / 1200 * 100 = 13.75% */
.order-3, .o3 { margin-left: 26.25%; } /* ( 15+(120*2)+(15*2)*2 ) / 1200 * 100 = 26.25% */
.order-4, .o4 { margin-left: 38.75%; } /* ( 15+(120*3)+(15*2)*3 ) / 1200 * 100 = 38.75% */
.order-5, .o5 { margin-left: 51.25%; } /* ( 15+(120*4)+(15*2)*4 ) / 1200 * 100 = 51.25% */
.order-6, .o6 { margin-left: 63.75%; } /* ( 15+(120*5)+(15*2)*5 ) / 1200 * 100 = 63.75% */
.order-7, .o7 { margin-left: 76.25%; } /* ( 15+(120*6)+(15*2)*6 ) / 1200 * 100 = 76.25% */
.order-8, .o8 { margin-left: 88.75%; } /* ( 15+(120*7)+(15*2)*7 ) / 1200 * 100 = 88.75% */
